/* Font */
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url("../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.otf") format("opentype"), url("../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.otf") format("opentype"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

* {
  font-family: 'HelveticaNeueCyr-Medium', serif;
  color: #424242; }

body.hidden-body {
  overflow: hidden; }

header {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 10; }

.header-scroll {
  display: flex;
  max-width: 1148px;
  margin: auto;
  justify-content: space-between;
  padding-left: 8px; }

.header-logo__img {
  width: 165px; }

.header-menu {
  display: flex;
  align-items: center; }

.header-menu__items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.header-menu__item {
  margin: 0 5px; }

.header-menu__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  transition: .3s; }

.header-menu__link:hover,
.header-menu__link.active {
  color: #16BD04; }

.header-phone {
  display: flex;
  align-items: center;
  color: #16BD04; }

.header-phone__num {
  display: flex;
  align-items: center;
  color: #16BD04;
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px; }
  .header-phone__num:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/svg/whatsapp 3.svg") center center no-repeat;
    margin-left: 10px; }

.main-wrap {
  background-repeat: repeat-x !important;
  background-position-y: 1910px !important; }

.main-wrap b {
  color: #424242; }

.block-top-wrap {
  height: 900px;
  background-size: cover !important;
  position: relative; }

.block-top {
  padding: 1px;
  max-width: 1150px;
  padding-left: 15px;
  margin: auto;
  height: 100%;
  border-right: 1px solid #c4c4c48f;
  position: relative; }

.block-top__title {
  margin-top: 200px;
  font-size: 122px;
  margin-bottom: 10px;
  color: #E30512;
  font-weight: 900;
  font-family: "HelveticaNeueCyr-Black"; }

.block-top__caption {
  font-size: 32px;
  color: #ffffff;
  max-width: 580px;
  margin-top: -7px;
  font-family: "HelveticaNeueCyr-Light"; }

.block-top__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 85px;
  max-width: 510px;
  flex-wrap: wrap;
  justify-content: space-between; }

.block-top__item {
  position: relative;
  max-width: 214px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  display: flex;
  font-family: "HelveticaNeueCyr-Light";
  margin-bottom: 15px; }
  .block-top__item:before {
    content: '';
    min-width: 10px;
    height: 10px;
    background: #16BD04;
    display: block;
    margin-top: 3px;
    margin-right: 10px; }

.block-top__button {
  width: 220px;
  height: 45px;
  background: #16BD04;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 60px; }

.block-top__big-caption {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  bottom: 75px;
  right: 0;
  width: 540px;
  height: 75px;
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
  background: rgba(227, 5, 18, 0.6);
  padding-left: 40px; }

.content-wrapper {
  max-width: 1440px;
  margin: auto; }

.block-title {
  font-size: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #424242; }

.block-title--first {
  margin: 0;
  padding: 40px 0; }

.block-communicate .block-title--first {
  padding-top: 10px; }

.block-title--outer {
  padding-left: 150px; }

.block-title--second {
  flex-direction: row-reverse;
  text-align: right;
  margin: 0;
  height: 118px;
  margin-top: 20px; }

.block-title--contact {
  padding-right: 150px; }

.block-title:after {
  content: "";
  display: block;
  height: 7px;
  background: #E30512;
  width: 75%;
  border-radius: 50px; }

.block-title--center {
  justify-content: center;
  margin: 40px 0px; }
  .block-title--center:after {
    content: none; }

.block-title__txt {
  display: flex;
  flex-direction: column; }

.block-title__txt-red {
  color: #E30512;
  font-size: 24px;
  font-weight: 100; }

.block-img-wrap {
  position: relative; }
  .block-img-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: 130px;
    display: block;
    width: 1px;
    background: #C4C4C4;
    height: calc(100% + 21px);
    z-index: -1; }
  .block-img-wrap:after {
    content: '';
    position: absolute;
    bottom: -21px;
    left: 130px;
    display: block;
    width: 1170px;
    background: #C4C4C4;
    height: 1px;
    z-index: -1; }

.block-img {
  display: flex; }

.block-img__left {
  height: auto; }

.block-img__content {
  margin: 0 30px; }

.block-img__logo p {
  margin-bottom: 0;
  margin-top: 40px;
  font-size: 18px;
  line-height: 30px; }

.block-img__logo img {
  width: 360px;
  margin-bottom: 22px; }

.block-img__logo a {
  color: #16BD04;
  display: block; }

.block-img__right {
  margin-top: 65px; }

.block-wrap.left {
  max-width: 1300px;
  margin-left: 0;
  padding-right: 15px;
  box-sizing: border-box;
  padding-bottom: 37px;
  border-right: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4; }

.block-map {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  padding-top: 58px; }

.block-map img {
  margin-bottom: 20px;
  margin-right: 25px;
  box-shadow: 10px 19px 20px 0px rgba(0, 0, 0, 0.33); }

.block-map__content {
  padding: 0 10px; }

.block-communicate-wrap.right {
  max-width: 1300px;
  margin-right: 0;
  margin-left: auto;
  padding-left: 15px;
  box-sizing: border-box;
  border-left: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 60px; }

.block-communicate__centent {
  padding-right: 150px; }

.block-communicate__txt {
  max-width: 750px;
  text-align: center;
  margin: auto;
  line-height: 30px;
  font-size: 18px; }

.block-communicate__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 55px; }

.block-communicate__img-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13%;
  text-align: center; }

.block-communicate__img-item img {
  margin-bottom: 40px; }

.block-gallery-wrap {
  margin-bottom: -20px; }
  .block-gallery-wrap .owl-dots {
    display: none; }
  .block-gallery-wrap .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .block-gallery-wrap .owl-nav button {
      outline: none; }
  .block-gallery-wrap .owl-prev span {
    display: block;
    width: 68px;
    height: 110px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0px 5px 5px 0px;
    color: transparent;
    background: rgba(255, 255, 255, 0.9) url("../img/svg/left-arrow.svg") center center no-repeat; }
  .block-gallery-wrap .owl-next span {
    display: block;
    width: 68px;
    height: 110px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0px 5px 5px 0px;
    color: transparent;
    background: rgba(255, 255, 255, 0.9) url("../img/svg/left-arrow.svg") center center no-repeat;
    transform: rotate(-180deg); }

.block-infrostract__centent-wrap {
  padding-left: 150px; }

.block-infrostract__centent {
  max-width: 725px;
  line-height: 28px;
  font-size: 18px; }

.block-infrostract__link {
  margin-top: 40px;
  display: inline-block;
  color: #16BD04;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px; }

.block-infrostract__img-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px; }

.block-infrostract__img-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%; }
  .block-infrostract__img-item img {
    height: auto;
    max-height: 165px;
    max-width: 220px;
    border-radius: 10px; }

.block-company-wrap .block-title:after {
  width: 62%; }

.block-company-wrap.right {
  position: relative; }
  .block-company-wrap.right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 130px;
    display: block;
    width: 1px;
    background: #C4C4C4;
    height: calc(100% + 21px);
    z-index: -1; }
  .block-company-wrap.right:after {
    content: '';
    position: absolute;
    bottom: -21px;
    left: 0;
    display: block;
    width: 130px;
    background: #C4C4C4;
    height: 1px;
    z-index: -1; }

.block-company {
  display: flex; }

.block-company__img {
  margin-right: 30px; }
  .block-company__img img {
    max-width: 725px; }

.block-company__right p {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  max-width: 550px; }

.block-company__right-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px; }

.block-company__right-img-item {
  display: flex;
  margin: 15px 0;
  width: 50%;
  align-items: center; }
  .block-company__right-img-item span {
    max-width: 200px;
    margin-left: 25px; }

.block-contact {
  display: flex;
  max-width: 1300px;
  margin-right: 0;
  margin-left: auto;
  justify-content: space-between; }

.block-contact__content {
  width: 40%; }

.block-contact__content > p {
  max-width: 400px; }

.block-contact__map {
  width: 55%; }

.block-contact__map iframe {
  width: 100% !important;
  box-shadow: 3px 11px 13px rgba(0, 0, 0, 0.33); }

.block-contact__img-block img {
  float: left;
  margin-right: 25px; }

.block-contact__title {
  font-weight: bold;
  font-size: 24px; }
  .block-contact__title:first-child {
    margin-top: 0; }

.block-contact__desc {
  font-size: 18px; }

.block-contact__desc--top {
  margin-top: -20px; }

.block-contact__desc a {
  color: #16BD04;
  text-decoration: none; }

.block-contact__desc-social {
  margin-top: 55px;
  display: inline-block; }

footer {
  clear: both; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  background: #E5E5E5;
  padding: 6px 0 7px; }
  .footer img {
    height: 100%;
    width: 132px; }

.footer__copyrate {
  color: #424242;
  font-size: 12px; }

.header-menu__button {
  display: none; }

.header-wrap.scrolling {
  transition: 0.5s;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.74);
  z-index: 100; }

@media (max-width: 1445px) {
  .block-img__logo img {
    display: block;
    margin: auto; }
  .block-img-wrap {
    overflow: hidden;
    position: relative; }
  .block-img-wrap:after {
    bottom: 0; }
  .block-img-wrap + .block-wrap {
    padding-top: 1px; }
  .block-img-wrap {
    padding-bottom: 20px; } }

@media (max-width: 1300px) {
  .block-img__left, .block-img__right {
    width: 450px; }
  .block-contact__content {
    padding-left: 15px; }
  .block-map img {
    max-width: 690px; }
  .block-infrostract__centent-wrap {
    padding-left: 50px; } }

@media (max-width: 1210px) {
  .block-img__left {
    width: 100%; }
  .block-title--outer {
    padding-left: 25px; }
  .block-img__right {
    display: none; }
  .block-img {
    flex-direction: column;
    text-align: center; }
  .block-img__logo {
    margin-top: 20px; }
  .block-img__logo p {
    max-width: 80%;
    margin: auto;
    margin-top: 25px; }
  .block-communicate__centent {
    padding-right: 0; }
  .block-company {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .block-company__img {
    margin-right: 0; }
  .block-company__right p {
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
    line-height: 23px;
    max-width: 550px; }
  .block-company__right-img {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content: center; }
  .block-company__right-img-item {
    display: flex;
    margin: 15px 0;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .block-company__right-img-item span {
    max-width: 200px;
    margin-left: 0;
    text-align: center;
    margin-top: 20px; }
  .block-contact__content {
    width: 50%; }
  .block-contact__map {
    width: 50%; }
  .block-company-wrap.right:after,
  .block-company-wrap.right:before,
  .block-img-wrap:before,
  .block-img-wrap:after {
    display: none; }
  .block-wrap.left {
    border: 0; }
  .block-communicate-wrap.right {
    border: 0; } }

@media (max-width: 1120px) {
  * {
    box-sizing: border-box; }
  .header-wrap {
    position: relative; }
  .header-menu__button {
    display: block;
    width: 50px;
    height: 26px;
    background: url(../img/svg/Group2.10.svg) center center no-repeat;
    margin-right: 25px;
    background-size: contain;
    transition: .5s;
    z-index: 10; }
  .header-menu__button.open {
    background: url(../img/svg/Group2.10-close.svg) center center no-repeat;
    background-size: contain; }
  .header-menu__items {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top: -45px;
    right: 0;
    text-align: center;
    background: white;
    height: calc(100vh + 45px);
    width: 0;
    transition: 0.5s;
    padding-top: 40px;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap; }
  .header-menu__items.open {
    width: 100%; }
  .header-menu__link {
    color: black;
    padding: 20px 0;
    display: block;
    font-size: 20px; }
  .header-phone {
    display: none; } }

@media (max-width: 992px) {
  .block-infrostract__centent-wrap {
    padding-left: 0; }
  .block-infrostract__centent {
    max-width: 100%;
    text-align: center; }
  .block-top-wrap {
    background-position-x: -430px !important; }
  .block-title:after {
    display: none; }
  .block-title--outer {
    padding-left: 0; }
  .block-title {
    align-items: center;
    justify-content: center; }
  .block-title__txt {
    align-items: center; }
  .block-wrap.left {
    padding-right: 0; }
  .block-map {
    flex-direction: column; }
  .block-communicate__img-item {
    width: 33%;
    margin: 25px 0; }
  .block-contact {
    flex-direction: column; }
  .block-contact__content,
  .block-contact__map {
    width: 100%; }
  .block-contact__content {
    margin-bottom: 30px; }
  .block-title--contact {
    padding: 0; }
  .block-gallery-wrap {
    margin-bottom: 0; }
  .block-top__big-caption {
    padding-right: 40px;
    width: auto;
    height: 53px; }
  .block-wrap.left {
    padding-left: 15px;
    padding-right: 15px; }
  .block-company-wrap.right,
  .block-communicate-wrap.right {
    padding-left: 15px;
    padding-right: 15px; } }

@media (max-width: 880px) {
  .block-top-wrap {
    background-position-x: -530px !important; }
  .block-map img {
    max-width: 690px;
    width: 100%; }
  .block-company__img img {
    width: 100%; } }

@media (max-width: 769px) {
  .block-contact__img-block > picture img {
    width: 350px; }
  .block-map img {
    margin-bottom: 32px;
    margin-right: 0;
    box-shadow: 10px 19px 20px 0px rgba(0, 0, 0, 0.33);
    max-width: 100%;
    width: 100%; }
  .block-contact__map iframe {
    height: 513px !important; }
  .main-wrap {
    background-repeat: repeat-x !important;
    background-position-y: 2235px !important;
    background-size: 100% 1415px !important; }
  .block-top__caption {
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
    width: 100%;
    max-width: 100%;
    margin-top: 35px; }
  .block-top__list {
    margin-left: auto;
    margin-right: auto;
    max-width: 570px; }
  .block-top__title {
    font-size: 100px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 235px; }
  .block-top-wrap {
    height: 1099px; }
  .block-top__button {
    margin: 75px auto 0; }
  .block-img__logo p {
    max-width: 100%; }
  .block-communicate__img-item img {
    width: 60px; }
  .block-title__txt-red {
    margin-top: 15px;
    text-align: center;
    font-size: 18px; }
  .block-title {
    margin-bottom: 10px; }
  .block-company__right p {
    max-width: 100%;
    text-align: center; }
  .footer {
    flex-direction: column;
    padding: 25px 0; }
  .footer__copyrate {
    display: block;
    margin: 60px auto; }
  .block-infrostract__img-item {
    width: 50%; }
  .block-top {
    padding-left: 0; }
  .block-contact__desc-social {
    margin-top: 175px;
    display: inline-block; }
  .block-title--center {
    margin-bottom: 40px; } }

@media (max-width: 680px) {
  .block-contact__img-block > picture img {
    width: auto; }
  .block-contact__desc-social {
    margin-top: 55px;
    display: inline-block; } }

@media (max-width: 580px) {
  header {
    top: 25px; }
  .header-logo__img {
    width: 135px; }
  .block-top-wrap {
    background-position-x: -300px !important; }
  .block-top-wrap {
    height: 570px; }
  .block-top__list {
    display: none; }
  .block-top__big-caption {
    width: 100%;
    justify-content: center;
    font-size: 15px;
    bottom: 0; }
  .block-top__title {
    font-size: 68px;
    margin-top: 110px;
    letter-spacing: 2px; }
  .block-top__caption {
    font-size: 18px;
    letter-spacing: 0;
    padding: 0 15px; }
  .block-contact__content {
    text-align: center; }
  .block-contact__title {
    font-size: 18px;
    width: 100%; }
  .block-contact__desc {
    font-size: 14px;
    width: 100%;
    margin-top: -10px; }
  .block-contact__img-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .block-contact__desc-social {
    margin: 0 5px; }
  .block-contact__content > p {
    margin: auto; }
  .block-contact__img-block img {
    margin: 20px auto 0; }
  .block-company__right-img-item {
    width: 100%; }
  .block-infrostract__img-item {
    width: 100%; }
  .block-infrostract__link {
    width: 100%;
    text-align: center; }
  .block-gallery-wrap .owl-prev span {
    width: 30px;
    height: 60px;
    background: rgba(255, 255, 255, 0.9) url(../img/svg/left-arrow.svg) center center no-repeat;
    background-size: 70%;
    background-position-x: 3px; }
  .block-gallery-wrap .owl-next span {
    width: 30px;
    height: 60px;
    background: rgba(255, 255, 255, 0.9) url(../img/svg/left-arrow.svg) center center no-repeat;
    background-size: 70%;
    background-position-x: 3px; }
  .block-communicate__img-item {
    width: 50%; }
  .block-img__logo img {
    width: 67%; }
  .block-img__logo p,
  .block-map__content,
  .block-communicate__txt,
  .block-infrostract__centent,
  .block-infrostract__link,
  .block-company__right p {
    font-size: 14px;
    line-height: 22px;
    text-align: center; }
  .block-company__img {
    width: 100%; }
  .block-title {
    font-size: 25px; } }

@media (max-width: 420px) {
  .block-top-wrap {
    background-position-x: -425px !important; }
  .main-wrap {
    background-repeat: repeat-x !important;
    background-position-y: 1445px !important;
    background-size: 100% 1360px !important; }
  .block-map {
    padding-top: 20px; }
  .block-communicate__img-item img {
    transform: scale(0.7); } }

@media (max-width: 380px) {
  .block-top-wrap {
    background-position-x: -468px !important; } }

/*# sourceMappingURL=main.css.map */
