*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  height: 100%; }

body,
input,
button,
textarea,
select,
.fancybox-skin {
  font-family: "Gotham Pro";
  font-size: 14px;
  line-height: 1.2;
  color: #1c2128; }

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

a {
  color: #1c2128;
  text-decoration: none; }
  a.underlined {
    border-bottom-width: 1px;
    border-bottom-style: solid; }
    a.underlined:hover {
      border-bottom-color: transparent; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' '; }

.clearfix:after,
.clear {
  clear: both; }

.hidden,
.modals {
  display: none; }

.text-uppercase {
  text-transform: uppercase; }

.text-strike {
  text-decoration: line-through; }

.text-nowrap {
  white-space: nowrap; }

.text-center {
  text-align: center; }

.d-table {
  display: table; }

.d-table-row {
  display: table-row; }

.d-table-cell {
  display: table-cell; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.transition-1,
.transition-1:before,
.transition-1:after,
.slick-arrow,
.slick-dots button {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important; }

[placeholder]:focus:-moz-placeholder {
  color: transparent !important; }

[placeholder]:focus::-moz-placeholder {
  color: transparent !important; }

[placeholder]:focus:-ms-input-placeholder {
  color: transparent !important; }

.jq-selectbox.select-1 {
  text-align: left; }
  .jq-selectbox.select-1 .jq-selectbox__select {
    padding: 18px 45px 18px 28px;
    text-align: left;
    border: 1px solid #000;
    -webkit-border-radius: 6px;
            border-radius: 6px; }
  .jq-selectbox.select-1 .jq-selectbox__select-text {
    font-size: 14px;
    line-height: 30px;
    color: #000; }
  .jq-selectbox.select-1 .jq-selectbox__trigger {
    position: absolute;
    right: 30px;
    top: 50%;
    width: 10px;
    height: 6px;
    margin: -3px 0 0;
    background: url("../images/arrow-down-1.svg");
    -webkit-background-size: 10px 6px;
            background-size: 10px 6px; }
  .jq-selectbox.select-1 .jq-selectbox__dropdown {
    width: 100%;
    border: 1px solid #000;
    background: #fff; }
    .jq-selectbox.select-1 .jq-selectbox__dropdown li {
      padding: 5px 28px;
      cursor: pointer; }
      .jq-selectbox.select-1 .jq-selectbox__dropdown li:hover {
        background: #000;
        color: #fff; }
  .jq-selectbox.select-1.opened.dropdown .jq-selectbox__select {
    border-bottom: none;
    -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0; }
  .jq-selectbox.select-1.opened.dropdown .jq-selectbox__dropdown {
    border-top: none;
    -webkit-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1); }
  .jq-selectbox.select-1.opened.dropup .jq-selectbox__select {
    border-top: none;
    -webkit-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px; }
  .jq-selectbox.select-1.opened.dropup .jq-selectbox__dropdown {
    border-bottom: none;
    -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1); }

.input-1, .textarea-1 {
  position: relative;
  padding: 14px 28px;
  background: #f9fafb;
  border: 1px solid #edeff0;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .input-1 input, .textarea-1 input,
  .input-1 textarea,
  .textarea-1 textarea {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 30px;
    padding: 0;
    font-size: 13px;
    line-height: 30px;
    color: #1c2128;
    border: none;
    outline: none;
    background: none; }
    .input-1 input::-webkit-input-placeholder, .textarea-1 input::-webkit-input-placeholder,
    .input-1 textarea::-webkit-input-placeholder,
    .textarea-1 textarea::-webkit-input-placeholder {
      color: #1c2128; }
    .input-1 input:-moz-placeholder, .textarea-1 input:-moz-placeholder,
    .input-1 textarea:-moz-placeholder,
    .textarea-1 textarea:-moz-placeholder {
      color: #1c2128;
      opacity: 1; }
    .input-1 input::-moz-placeholder, .textarea-1 input::-moz-placeholder,
    .input-1 textarea::-moz-placeholder,
    .textarea-1 textarea::-moz-placeholder {
      color: #1c2128;
      opacity: 1; }
    .input-1 input:-ms-input-placeholder, .textarea-1 input:-ms-input-placeholder,
    .input-1 textarea:-ms-input-placeholder,
    .textarea-1 textarea:-ms-input-placeholder {
      color: #1c2128; }
  .input-1:before, .textarea-1:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 5px; }
  .input-1.error, .error.textarea-1 {
    border-color: #f00; }

.textarea-1 {
  height: 80px;
  padding: 3px 10px; }
  .textarea-1 textarea {
    height: 100%;
    line-height: normal;
    resize: none; }

.button-1, .button-2, .button-3 {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #0c0c11 !important;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #40aae3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  background: #fff; }
  .button-1:hover, .button-2:hover, .button-3:hover {
    background: #40aae3;
    color: #fff !important; }

.button-2, .button-3 {
  height: 60px;
  padding: 0 36px;
  letter-spacing: -0.2px;
  color: #fff !important;
  background: #0c0c11;
  border-color: #0c0c11; }
  .button-2:hover, .button-3:hover {
    background: none;
    color: #0c0c11 !important; }
  .button-2:active, .button-3:active {
    background: #0c0c11;
    border-color: #0c0c11;
    color: #fff !important; }

.button-3 {
  background: #38a7e1;
  border-color: #38a7e1; }
  .button-3:hover {
    background: #45b7f3;
    border-color: #45b7f3;
    color: #fff !important; }
  .button-3:active {
    background: #3095ca;
    border-color: #3095ca; }

.fancybox-close {
  width: 16px;
  height: 16px;
  right: 11px;
  top: 11px;
  background: url("../images/icon-close-1.png") no-repeat; }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@-webkit-keyframes bt {
  0% {
    opacity: 0.1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  16% {
    opacity: 1;
    -webkit-transform: translate(35%, 0);
            transform: translate(35%, 0); }
  22% {
    opacity: 0.5;
    -webkit-transform: translate(55%, 0);
            transform: translate(55%, 0); }
  40% {
    -webkit-transform: translate(120%, 0);
            transform: translate(120%, 0); }
  100% {
    opacity: 0.35;
    -webkit-transform: translate(120%, 0);
            transform: translate(120%, 0); } }

@keyframes bt {
  0% {
    opacity: 0.1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  16% {
    opacity: 1;
    -webkit-transform: translate(35%, 0);
            transform: translate(35%, 0); }
  22% {
    opacity: 0.5;
    -webkit-transform: translate(55%, 0);
            transform: translate(55%, 0); }
  40% {
    -webkit-transform: translate(120%, 0);
            transform: translate(120%, 0); }
  100% {
    opacity: 0.35;
    -webkit-transform: translate(120%, 0);
            transform: translate(120%, 0); } }

/*
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba($color_purple_4, 0.1), 0 0 10px 10px $color_purple_4, 0 0 0 10px rgba($color_purple_4, 0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba($color_purple_4, 0.1), 0 0 10px 10px $color_purple_4, 0 0 0 10px rgba($color_purple_4, 0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
*/
.main-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .main-wrapper.p-thanks {
    background: url("../images/bg-8.png") center top repeat-y; }

.container {
  position: relative;
  z-index: 1;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.mobile-menu {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  -webkit-transform: translateX(240px);
      -ms-transform: translateX(240px);
          transform: translateX(240px);
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4); }
  .mobile-menu ul {
    padding: 30px 0 0;
    font-size: 18px;
    font-weight: bold;
    list-style: none; }
    .mobile-menu ul a {
      display: block;
      padding: 10px 15px;
      color: #000; }
      .mobile-menu ul a:hover {
        background: #000;
        color: #fff; }

.b-modal-video {
  width: 650px; }

.b-modal-video-content {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .b-modal-video-content iframe,
  .b-modal-video-content object,
  .b-modal-video-content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.b-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 40px;
  height: 40px;
  -webkit-background-size: 20px auto;
          background-size: 20px auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  visibility: hidden;
  opacity: 0; }
  .b-up.active {
    visibility: visible;
    opacity: 1; }

.b-header-menu-button {
  display: none;
  width: 30px;
  height: 30px;
  margin: 0 0 0 30px;
  background: url("../images/icon-menu-1.svg") center center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

/* START HERE */
.b-header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 13px; }

.b-header-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.b-header-address {
  position: relative;
  margin: 0 0 0 138px;
  padding: 0 0 0 27px;
  font-size: 16px;
  font-weight: 500; }
  .b-header-address:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 16px;
    margin: -6px 0 0;
    background: url("../images/icon-pin-1.svg") no-repeat; }

.b-header-logo, .b-footer-logo {
  display: inline-block;
  height: 58px; }

.b-header-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.b-header-phone {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase; }
  .b-header-phone span {
    font-size: 10px;
    color: #38a7e1; }

.b-header-button {
  margin: 0 0 0 20px; }

.b-homescreen, .b-thanks {
  position: relative;
  z-index: 2;
  color: #fff;
  background: url("../images/bg-1.png") center bottom no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 32% 100%, 0% 90%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 32% 100%, 0% 90%);
  overflow: hidden; }
  .b-homescreen .container, .b-thanks .container {
    padding-top: 121px;
    padding-bottom: 121px; }

.b-homescreen-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .b-homescreen-video video {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%; }

.b-homescreen-title, .b-thanks-title {
  max-width: 700px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -0.1px;
  text-transform: uppercase; }

.b-homescreen-text {
  max-width: 500px;
  margin: 23px 0 0;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1px; }

.b-homescreen-buttons, .b-thanks-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 65px 0 0; }
  .b-homescreen-buttons a, .b-thanks-buttons a {
    margin: 0 0 0 10px; }
    .b-homescreen-buttons a:first-child, .b-thanks-buttons a:first-child {
      margin-left: 0; }

.b-title {
  font-size: 36px;
  line-height: 1.24;
  font-weight: 900;
  text-transform: uppercase; }

.b-about {
  margin: -180px 0 0;
  padding: 180px 0 0;
  background: url("../images/bg-4.png") center -23px no-repeat, url("../images/bg-9.png") center top repeat-y; }
  .b-about .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 127px;
    padding-bottom: 138px; }

.b-about-left {
  width: 50%;
  padding: 0 15px 0 0; }

.b-about-text {
  max-width: 365px;
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300; }

.b-about-button {
  margin: 36px 0 0; }

.b-about-right {
  width: 50%;
  padding: 0 0 0 15px; }

.b-about-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #38a7e1; }

.b-about-list {
  margin: 28px 0 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  list-style: none; }
  .b-about-list li {
    position: relative;
    margin: 22px 0 0;
    padding: 0 0 0 20px;
    cursor: pointer; }
    .b-about-list li:first-child {
      margin-top: 0; }
    .b-about-list li:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 9px;
      height: 9px;
      border: 2px solid #38a7e1;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.b-advantages {
  position: relative;
  z-index: 3;
  background: url("../images/bg-2.png") center top no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .b-advantages .container {
    padding-top: 130px;
    padding-bottom: 674px; }

.b-advantages-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 3px -15px 0; }

.b-advantages-item {
  position: relative;
  width: 33.33%;
  margin: 54px 0 0;
  padding: 10px 15px 0 75px; }
  .b-advantages-item:before {
    display: block;
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    width: 40px;
    height: 40px;
    background: url("../images/li-1.svg") center center no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }

.b-advantages-item-title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase; }

.b-advantages-item-text {
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1px; }

.bg-1 {
  position: relative;
  z-index: 2;
  margin: -304px 0 -213px;
  padding: 304px 0 0;
  background: url("../images/bg-5.png") center bottom no-repeat, url("../images/bg-10.png") center top repeat-y; }

.b-cars .container {
  padding-top: 79px;
  padding-bottom: 70px; }

.b-cars-slider {
  margin: 60px 0 0; }
  .b-cars-slider .slick-list {
    overflow: visible !important; }
  .b-cars-slider img {
    display: inline; }

.b-cars-slide {
  position: relative;
  min-height: 590px; }

.b-cars-slide-image {
  position: absolute;
  right: 50%;
  top: 0;
  height: 100%;
  padding: 0 15px 0 0; }
  .b-cars-slide-image img {
    max-width: none; }

.b-cars-slide-content {
  margin: 0 0 0 50%;
  padding: 0 0 0 15px; }

.b-cars-slide-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  line-height: 1; }
  .b-cars-slide-top span {
    display: block;
    width: 100%;
    border-bottom: 2px dotted #bbbcbd; }

.b-cars-slide-title {
  margin: 0 5px 0 0;
  font-weight: 900;
  white-space: nowrap; }

.b-cars-slide-price {
  margin: 0 0 0 5px;
  white-space: nowrap; }

.b-cars-slide-text {
  margin: 17px 0 0;
  font-size: 17px;
  line-height: 1.54;
  font-weight: 300px; }

.b-cars-slide-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 79px 0 0; }

.b-cars-slide-item {
  width: 25%;
  padding: 0 15px 0 0; }

.b-cars-slide-item-title {
  margin: 22px 0 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300; }

.b-cars-slide-button {
  margin: 34px 0 0; }
  .b-cars-slide-button a {
    min-width: 175px; }

.b-cars-slider-controls {
  position: relative; }

.b-cars-slider-controls-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  padding: 0 15px; }

.b-cars-slider-prev, .b-cars-slider-next {
  display: inline-block;
  width: 21px;
  height: 15px;
  background: url("../images/arrow-2.svg") no-repeat;
  cursor: pointer; }

.b-cars-slider-next {
  background-image: url("../images/arrow-3.svg"); }

.b-cars-slider-dots {
  margin: 0 20px; }
  .b-cars-slider-dots .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .b-cars-slider-dots .slick-dots button {
      display: block;
      width: 11px;
      height: 11px;
      text-indent: -999px;
      color: transparent;
      background: none;
      border: 1px solid #38a7e1;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      overflow: hidden;
      cursor: pointer; }
      .b-cars-slider-dots .slick-dots button:hover {
        background: #38a7e1; }
    .b-cars-slider-dots .slick-dots li {
      margin: 0 0 0 10px; }
      .b-cars-slider-dots .slick-dots li:first-child {
        margin-left: 0; }
      .b-cars-slider-dots .slick-dots li.slick-active button {
        background: #38a7e1;
        width: 21px; }

.b-know .container {
  padding-top: 70px;
  padding-bottom: 65px; }

.b-know-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -15px; }

.b-know-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 33.33%;
  padding: 60px 15px 12px; }

.b-know-item-icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 72px;
  margin: 0 17px 0 0;
  text-align: center; }

.b-know-item-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.1px; }

.b-cta {
  background: url("../images/bg-3.png") center bottom no-repeat; }
  .b-cta .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 378px;
    padding-bottom: 270px; }

.b-cta-content {
  margin: 51px 0 0;
  padding: 0 30px 0 0; }

.b-cta-text {
  max-width: 400px;
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300; }

.b-cta-form {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 454px;
  padding: 53px 60px 60px;
  background: #fff; }

.b-cta-form-title {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 900;
  color: #38a7e1;
  text-transform: uppercase; }

.b-cta-form-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase; }

.b-cta-form-inputs {
  margin: 24px 0 0; }

.b-cta-form-input {
  margin: 10px 0 0; }
  .b-cta-form-input:first-child {
    margin-top: 0; }

.b-cta-form-button {
  min-width: 240px;
  margin: 20px 0 0; }

.b-faq {
  background: url("../images/bg-6.jpg") center 247px no-repeat, url("../images/bg-11.png") center top repeat-y; }
  .b-faq .container {
    padding-top: 118px;
    padding-bottom: 225px; }

.b-faq-accordion {
  margin: 61px 100px 0; }
  .b-faq-accordion .ui-accordion-header {
    position: relative;
    margin: 10px 0 0;
    padding: 22px 75px 22px 26px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    background: #f0f1f2;
    cursor: pointer; }
    .b-faq-accordion .ui-accordion-header:hover {
      background: #d5d8da; }
    .b-faq-accordion .ui-accordion-header:first-child {
      margin-top: 0; }
    .b-faq-accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon:before {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
  .b-faq-accordion .ui-accordion-header-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 63px;
    margin: 0;
    background: #38a7e1; }
    .b-faq-accordion .ui-accordion-header-icon:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center;
      background: url("../images/arrow-1.svg") center center no-repeat; }
  .b-faq-accordion .ui-accordion-content {
    padding: 20px 26px 14px;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.1px; }

.b-contacts {
  position: relative;
  min-height: 560px; }
  .b-contacts .container:before {
    display: block;
    content: '';
    position: absolute;
    left: -360px;
    top: -151px;
    width: 1068px;
    height: 809px;
    background: url("../images/bg-7.png") no-repeat;
    -webkit-clip-path: polygon(0px 110px, 1068px 0px, 285px 809px, 0px 809px);
            clip-path: polygon(0px 110px, 1068px 0px, 285px 809px, 0px 809px); }

.b-contacts-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .b-contacts-map img {
    max-width: none;
    max-height: none; }

.b-contacts-content {
  position: absolute;
  left: 15px;
  top: 0;
  padding: 88px 0 0;
  max-width: 300px;
  text-transform: uppercase; }

.b-contacts-title, .b-contacts-subtitle {
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold; }

.b-contacts-subtitle {
  font-weight: 300; }

.b-contacts-items {
  margin: 32px 0 0;
  font-size: 16px;
  line-height: 1.35; }

.b-contacts-item {
  margin: 23px 0 0; }
  .b-contacts-item:first-child {
    margin-top: 0; }

.b-contacts-button {
  margin: 88px 0 0;
  min-width: 294px; }

.b-footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px; }

.b-footer-landingua {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase; }

.b-thanks {
  margin: 0 0 25px;
  color: #1c2128; }
  .b-thanks .container {
    padding-top: 131px;
    padding-bottom: 223px; }

.b-thanks-title p:first-child {
  color: #38a7e1; }

.b-thanks-subtitle {
  max-width: 700px;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase; }

.b-thanks-buttons {
  margin-top: 53px; }

.ui-tooltip {
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }

.debug {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  padding: 5px;
  color: #fff;
  background: #000; }
  .debug:before {
    content: 'desktop'; }

@media (max-width: 1199px) {
  .debug:before {
    content: '1199'; }
  .container {
    width: auto; }
  .menu-active .mobile-menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .b-header-menu-button {
    display: block; }
  .b-header-address {
    margin-left: 50px; } }

@media (max-width: 991px) {
  .debug:before {
    content: '991'; }
  .b-header-address {
    display: none; }
  .b-title,
  .b-about-title,
  .b-cars-slide-top {
    font-size: 24px;
    line-height: 1.2; }
  .b-cta-form-title {
    font-size: 20px; }
  .b-about-text,
  .b-about-list,
  .b-cta-text {
    font-size: 16px; }
  .b-advantages-item-title,
  .b-advantages-item-text,
  .b-cars-slide-text,
  .b-cars-slide-item-title,
  .b-know-item-title,
  .b-cta-form-subtitle,
  .b-faq-accordion .ui-accordion-header,
  .b-faq-accordion .ui-accordion-content {
    font-size: 14px; }
  .b-advantages-item {
    padding: 0 15px 0 40px; }
    .b-advantages-item:before {
      width: 20px;
      height: 20px; }
  .b-cars-slide {
    min-height: auto; }
  .b-cars-slide-image {
    position: static;
    width: auto;
    padding: 0; }
    .b-cars-slide-image img {
      width: 100%; }
  .b-cars-slide-content {
    margin: 30px 0 0;
    padding: 0; }
  .b-cars-slide-items {
    margin-top: 30px; }
  .b-cars-slide-item-icon {
    height: 36px; }
  .b-cars-slider-controls {
    margin-top: 30px; }
  .b-cars-slider-controls-content {
    position: static;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    padding: 0; }
  .b-cars-slide-button {
    text-align: center; }
  .b-know-item-icon {
    width: 36px;
    height: 36px; }
  .b-cta .container {
    padding-top: 300px; }
  .b-cta-form {
    width: 350px;
    padding: 30px; }
  .b-cta-form-button {
    width: 100%; }
  .b-faq-accordion {
    margin: 50px auto 0; }
    .b-faq-accordion .ui-accordion-header {
      padding: 15px 55px 15px 15px; }
    .b-faq-accordion .ui-accordion-header-icon {
      width: 47px; }
    .b-faq-accordion .ui-accordion-content {
      padding: 10px 15px 4px; }
  .b-faq .container {
    padding-top: 80px;
    padding-bottom: 80px; }
  .b-contacts {
    background: #ebf6fc; }
    .b-contacts .container {
      padding-top: 80px;
      padding-bottom: 80px; }
      .b-contacts .container:before {
        display: none; }
  .b-contacts-content {
    position: static;
    max-width: none;
    padding: 0;
    text-align: center; }
  .b-contacts-button {
    margin-top: 30px; }
  .b-contacts-map {
    position: relative;
    height: 400px; } }

@media (max-width: 767px) {
  .debug:before {
    content: '767'; }
  .b-modal-video {
    width: 480px; }
  .b-header-button {
    display: none; }
  .b-homescreen, .b-thanks {
    color: #1c2128; }
    .b-homescreen .container, .b-thanks .container {
      padding-top: 80px;
      padding-bottom: 100px; }
  .b-about .container {
    padding-top: 80px;
    padding-bottom: 80px; }
  .b-advantages .container {
    padding-top: 80px; }
  .b-cars .container {
    padding-top: 80px;
    padding-bottom: 40px; }
  .b-know .container {
    padding-top: 40px;
    padding-bottom: 80px; }
  .b-homescreen, .b-thanks {
    -webkit-clip-path: none;
            clip-path: none; }
  .b-homescreen-video video {
    display: none; }
  .b-homescreen-title, .b-thanks-title,
  .b-thanks-subtitle {
    max-width: 50%;
    font-size: 24px; }
  .b-homescreen-text {
    max-width: 50%;
    font-size: 16px; }
  .b-homescreen-buttons, .b-thanks-buttons {
    display: block;
    max-width: 300px; }
    .b-homescreen-buttons a, .b-thanks-buttons a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 15px 0 0; }
      .b-homescreen-buttons a:first-child, .b-thanks-buttons a:first-child {
        margin-top: 0; }
  .b-title {
    text-align: center; }
    .b-title br {
      display: none; }
  .b-about {
    text-align: center; }
    .b-about .container {
      display: block; }
  .b-about-left,
  .b-about-right {
    width: auto;
    padding: 0; }
  .b-about-right {
    margin-top: 80px; }
  .b-about-text {
    max-width: none; }
  .b-about-list {
    max-width: 500px;
    margin: 30px auto 0;
    text-align: left; }
  .b-advantages-item {
    width: 50%; }
  .b-cta {
    text-align: center;
    background-position: 40% bottom; }
    .b-cta .container {
      display: block;
      padding-top: 200px;
      padding-bottom: 400px; }
  .b-cta-content {
    padding: 0; }
  .b-cta-text {
    max-width: none; }
  .b-cta-form {
    width: auto;
    max-width: 350px;
    margin: 30px auto 0; } }

@media (max-width: 575px) {
  .debug:before {
    content: '575'; }
  .b-modal-video {
    width: auto; }
  .button-1, .button-2, .button-3 {
    padding: 0 15px; }
  .b-header {
    text-align: center; }
    .b-header .container {
      display: block; }
  .b-header-left {
    display: block; }
  .b-header-logo, .b-footer-logo {
    height: 50px; }
  .b-header-phone {
    display: none; }
  .b-homescreen, .b-thanks {
    background-position: 70% bottom; }
    .b-homescreen .container, .b-thanks .container {
      padding-top: 40px; }
  .b-homescreen-video {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(80%, transparent));
    background: -webkit-linear-gradient(top, #fff 0%, transparent 80%);
    background: -o-linear-gradient(top, #fff 0%, transparent 80%);
    background: linear-gradient(to bottom, #fff 0%, transparent 80%); }
  .b-homescreen-title, .b-thanks-title,
  .b-thanks-subtitle {
    font-size: 18px; }
  .b-homescreen-title, .b-thanks-title,
  .b-homescreen-text,
  .b-thanks-subtitle {
    max-width: none; }
  .b-title,
  .b-about-title {
    font-size: 18px; }
  .b-advantages {
    background: #ebf6fc; }
    .b-advantages .container {
      padding-bottom: 80px; }
  .b-advantages-items {
    display: block;
    margin-top: 50px; }
  .b-advantages-item {
    width: auto;
    margin-top: 30px; }
    .b-advantages-item:first-child {
      margin-top: 0; }
  .b-about,
  .bg-1 {
    background: none; }
  .b-cars-slide {
    text-align: center; }
  .b-cars-slide-top {
    display: block; }
    .b-cars-slide-top span {
      display: none; }
  .b-cars-slide-items {
    margin-top: 0; }
  .b-cars-slide-item {
    width: 50%;
    margin-top: 30px; }
  .b-know-item {
    display: block;
    width: 50%;
    padding: 30px 15px 0;
    text-align: center; }
  .b-know-item-icon {
    margin: 0 auto; }
  .b-know-item-title {
    margin-top: 15px; }
  .b-cta-form {
    padding: 30px 15px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2); }
  .b-cta-form-subtitle {
    line-height: 1.3;
    text-transform: none; }
  .b-faq-accordion .ui-accordion-header {
    text-transform: none; }
  .b-contacts-title, .b-contacts-subtitle {
    font-size: 18px; }
  .b-contacts-items {
    font-size: 14px; }
  .b-contacts-button {
    min-width: auto; }
  .b-footer {
    text-align: center; }
    .b-footer .container {
      display: block; }
  .b-footer-landingua {
    margin-top: 30px;
    font-size: 12px; } }

@media (max-width: 320px) {
  .debug:before {
    content: '320'; } }
